﻿@charset "utf-8";

/*** total style ***/
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	background-color: white;
	color: black;
	font-family: 'Source Sans Pro', 'メイリオ',Meiryo, 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
	font-size: 100%;
	width: 100%;
}

/*** clearfix ***/
.cf:before, .cf:after {
	content:"";
	display:block;
	overflow:hidden;
}
.cf:after { clear:both; }
.cf { zoom:1; }

/*** normalize 対策 ***/
p {
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
img{
	vertical-align: top;
}
table{
	border: 0;
	border-collapse:collapse;
}
table tr{
	padding: 0;
}
table tr td{
	border: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

/*** mouse over ***/
a img {
	/*border: medium none transparent;*/
}
a:hover img {
	filter:alpha(opacity=60);
	opacity: 0.6;
}
a {
}
a:hover {
	text-decoration: underline;
}

/********************************/

/***** common *****/
/* header */
.header {
}

/* footer */
.footer {
}

.wrapper {
	margin: auto 0;
	width: 970px;
}

/*ここから畠山
**********************************/
strong {
	font-weight: bold;
}
.titleBack {
	text-align: center;
}
.bgiDots {
	font-size: 22px;
	background-color: #fff;
background-image: radial-gradient(#aaa 20%, transparent 20%);
background-size:5px 5px;
}
.btnOrange {
	display: block;
	text-align: center;
	margin: 30px auto 15px;
}

body {
	background: url(../images/bg_header_01.jpg) repeat-x;
}
.wrapper{
	width: 960px;
	height: 100%;
	margin: 0 auto;
}
.fl-l {
	float: left;
}
.fl-r {
	float: right;
}
.txCenter {
	text-align: center;
}
/*header
************************************/
header {
	width: 100%;
	margin-top: 10px;
	padding-top: 5px;
	text-align: center;
	background: rgba(255,255,255,0.8) url(../images/bg_top_logo_04.jpg) top 5px right 5px no-repeat;
}
header dt{
	font-size: 20px;
}
header p {
	font-size: 14px;
	margin-bottom: 15px;
}
.headText {
	width: 358px;
	margin: 35px auto ;
	padding: 10px 20px;
	font-size: 20px;
	text-shadow: 2px 2px 5px #000;
	color: #fff;
	background-color: #316ef6;
	border-radius: 20px;
}
.headTitle {
	font-size: 58px;
	margin-bottom: 15px;
}
.headInfo {
	width: 720px;
	height: 120px;
	margin: 0 auto;
	padding: 15px;
	border: 2px solid #aaa;
	border-radius: 5px;
}
.headInfo dd {
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 10px 0px;
	border-bottom: 1px solid #aaa;
	text-align: left;
}

h3 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 15px;
}
h4 {
	font-size: 14px;
	font-weight: bold;
	border-left: 5px solid #ff6b00;
	margin: 10px;
	padding-left: 5px;
}
/*contents
************************************/
.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 30px;
}
.side {
	width: 270px;
}
.sideNav {
	width: 100%;
}
.side li {
	margin-bottom: 15px;
}
.navLink {
	border: 2px solid #aaa;
	border-radius: 5px;
	background-image: url(images/);
}
.tBlue {
	color: #2167af;
}
.tGreen {
	color: #57af21;
}
.tOrange {
	color: #e88510;
}
.downLink {
	padding: 10px 10px 10px 30px;
	background-image: url(images/) linear-gradient(rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	border: 2px solid #aaa;
	border-radius: 5px;
}
.voiceLink {
	height: 45px;
	line-height: 45px;
	color: #fff;
	border-radius: 5px;
}
.bgcGreen {
	background-image: linear-gradient(#97cd60 0%,#57af21 50%);
}
.bgcBlue {
	background-image: linear-gradient(#6089cd 0%,#2167af 50%);
}

/*mainContent
**************************************/
.mainContent {
	width: 700px;
}
.mainContent p {
	font-size: 14px !important;
}
.mainContent dt {
	font-weight: bold;
}
.mainContent h2 {
	font-size: 16px;
	letter-spacing: 0.1em;
}
.innerBox {
	width: 700px;
	padding: 15px;
	border: 2px solid #aaa;
	border-radius: 5px;
	-webkit-box-shadow:  ;
	box-shadow:  0 0 10px rgba(0,0,0,0.2);
}
.photo {
	display: flex;
	justify-content: center;
}
.photo li{
	margin-right: 5px;
}
.photo li:last-child {
	margin-right: none;
}
.innerBox dd {
	margin-left: 90px;
}
.workList {
	display:flex;
	justify-content: space-between;
	width: 700px;
	font-weight: bold;
	margin: 5px auto;
	font-size: 14px
}

.workList li{
	width: 25%;
	}
.pageTop {
	margin: 10px 0;
	text-align: right;
}
.step {
	margin: 25px 0;
}
.mb-30{
	margin-left: 1em;
	margin-bottom: 30px;
	text-indent: -1em;
}
.dateBox {
	font-weight: bold;
	letter-spacing: 0.2em;;
	margin:20px auto;
	padding: 15px 25px;
	border: 2px solid #aaa;
}
.stepList {
}
.stepList li {
	width: 120px;
	height: 250px;
	border: 2px solid #aaa;
	border-radius: 5px;
	padding: 2px;
}
.stepList strong {
	text-align: center;
}
.stepNun {
	display: block;
	width: 100%;
	margin-bottom: 5px;
	padding: 2px 0;
	text-align: center;
	color: #fff;
	background-color: #6089cd;
	border-radius: 5px 5px 0 0;
	font-weight: bold;
	text-shadow: 2px 2px 0 #0b3ccf,
							 -2px -2px 0 #0b3ccf,
							 -2px 2px 0 #0b3ccf,
							 2px -2px 0 #0b3ccf;
	}
	.indent {
		padding-left:  20px;
	}

/*footer
*************************************/
footer {
	width: 100vw;
	padding-top: 15px;
}
.ftInner {
	width: 1024px;
	margin: 0 auto;
	color: #3b1a08;
}
.ftInner span {
	font-weight: bold;
}
.ftInner dt {

}
.ftInnter dd {
	margin-left: -20px
}
footer p {
	padding :5px auto;
	background-color: #3b1a08;
	color: #fff;
	text-align: center;
}
